/* assets/css/style.css */
body {
    background-color: #f8f9fa; /* Color de fondo claro */
}
.container {
    max-width: 600px;
}
.list-group-item-primary {
    border: 2px solid #007bff;
    font-weight: bold;
}
.fs-1 {
    font-size: 2.5rem !important;
}
.nav-btn.d-block {
    width: 100%;
}